img{

    height: 50px;

	

}



.espaceAGaughe{

	padding-left : 30px;

}

body{background: lightgrey;}



.imgA img{

	display:none;

}

.imgA:hover img{

	display : inline-block;

}

.imgA:hover .txtA{

	display:none;

}

table{width:100%;border-color: DodgerBlue; border-style: double;border-width: 15px; }
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
 
