#error{background: pink;

border: 1px solid black;



}

#resultat{

	background: lightgreen;

	border: black;

}

body{background: lightgrey;}



table{

background: <img src="../galilee.png" alt="Logo Galilee"/>;

}
