#error{background: pink;

border: 1px solid black;



}

#resultat{

	background: lightgreen;

	border: black;

}

body{background:lightgrey;}

table{
	background:white;
	border: 5px solid black;

}




 
