#error{background: pink;

border: 1px solid black;



}

#resultat{

	background: lightgreen;

	border: black;

}

body{ 
    background-image: url("../fond ecran.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

table{
	background:white;
	border: 5px solid black;

}




 
